body{
	font-family:Times New Roman;
	display:flex;
    justify-content: center;
    align-items: center;
	z-index : auto;
	background-color:ffb3d9;
	
}
#container{
	z-index : 1;
	background-color:white;
	width : 95%;
	border : 2px solid gray;
}
#frame{
	width:calc(100% - 210px); 
	overflow:overflow-y; 
	height:calc(100% - 50px); 
	float:left;
	padding:5px;
	background-color:#f5f0f0;
	border:1px solid #f0cccc;
}
#left_frame{
	width:195px; 
	height:99%;
	float:left;
}
.left__panel{
	text-align:center;
	padding:5px;
	color:white;
	background-color:black;
	border:solid 1px white;
	cursor: pointer;
	border-radius:10px;
}