body{
}
#frame{
	width:calc(100% - 210px); 
	overflow:overflow-y; 
	height:calc(100% - 50px); 
	float:left;
}
#left_frame{
	padding:3px;
	color:white;
	background-color:gray;
	width:195px; 
	height:99%;
	float:left;
	border:solid 2px;
}